{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Computational Aesthetic Evaluation Training Interface</h1>
  <img class="img-responsive" id="canvas"/>
  <div class="button-row">
    <button id="ugly" class="pull-left btn btn-danger" type="submit"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>Ugly</button>
    <button id="pretty" class="pull-left btn btn-success" type="submit"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Pretty</button>
  </div>
</div>
{% endblock %}
